body {
    background-image: url("paper.gif");
    background-repeat: repeat;
    background-color: #cccccc;
    color: #1F2937;
}

aside {
    width: 21%;
    float: right;
    font-style: italic;
}

h1 {
    color: #111827;
}

#sec1 {
    color: #DC2626;
}